/* index.css */
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, 
          cupcake, bumblebee, emerald, corporate,
          synthwave, retro, cyberpunk, valentine,
          halloween, garden, forest, aqua, lofi,
          pastel, fantasy, wireframe, black, luxury,
          dracula, cmyk, autumn, business, acid,
          lemonade, night, coffee, winter, dim,
          nord, sunset;
}

/* Enable animations */
@theme {
  --animate-bounce: bounce 1s infinite;
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}